body {
  /* Menambahkan gambar background */
  background-image: url("/assets/bg.png");
  background-size: cover; /* Membuat gambar memenuhi seluruh layar */
  background-position: center; /* Menempatkan gambar di tengah */
  background-repeat: no-repeat; /* Mencegah pengulangan gambar */
  background-attachment: fixed; /* Agar background tetap di tempat saat scrolling */
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif; /* Menggunakan font Roboto di seluruh halaman */
}

.logo-container {
  text-align: right; /* Mengatur agar logo berada di tengah secara horizontal */
  padding-top: 10px; /* Atur jarak dari atas sesuai kebutuhan */
}

.logo {
  width: 130px; /* Sesuaikan lebar */
  height: 60px; /* Menjaga proporsi gambar */
  max-width: 100%; /* Agar responsif */
  margin-right: 10px;
}
.text {
  margin-top: -30px; /* Jarak atas dari kartu */
}
.text h1 {
  font-size: 20px; /* Ukuran font untuk judul */
  text-align: center; /* Mengatur teks agar berada di tengah */
  color: black; /* Menentukan warna teks agar terlihat di atas background */
  margin-top: 100px; /* Memberikan jarak pada bagian atas teks */
}

.text h2 {
  font-size: 20px; /* Ukuran font untuk judul */
  text-align: center; /* Mengatur teks agar berada di tengah */
  color: black; /* Menentukan warna teks agar terlihat di atas background */
}

/* Styling untuk kartu pertama */
.card-container {
  display: flex; /* Mengatur agar kartu sejajar */
  gap: 20px; /* Jarak antara kartu */
  justify-content: center; /* Menyelaraskan kartu ke tengah */
  margin-top: 20px; /* Jarak atas dari kartu */
}

.custom-card1 {
  background-color: #f8d7da; /* Warna background kartu pertama */
  border: 1px solid red; /* Border merah */
  text-align: center;
  border: 1px solid gray; /* Border abu-abu */
}

.custom-footer1 {
  background-color: red; /* Background footer kartu pertama */
  color: white; /* Warna teks putih */
}

.custom-card2 {
  background-color: #d1ecf1; /* Warna background kartu kedua */
  border: 1px solid #fd082f; /* Border biru */
  text-align: center;
  border: 1px solid gray; /* Border abu-abu */
}

.custom-footer2 {
  background-color: #fd082f; /* Background footer kartu kedua */
  color: white; /* Warna teks putih */
}

.custom-card3 {
  text-align: center;
  border: 1px solid gray; /* Border abu-abu */
}
.custom-footer3 {
  background-color: #fd082f; /* Background footer kartu kedua */
  color: white; /* Warna teks putih */
}
